body{
	background-color: blue;
}

.form {
	margin-left: 200px;
	margin-right: 100px;
	background-color:rgba(100, 100, 100, 100);
	padding:50px;
	margin-top:-20px;
	display: block;
	border-radius: 10px;
	height: 400px; 
}

.label {
	display: block;
	height: 8vh;
	margin-left: -8px;
	text-align: center;
	border-radius: 50px;
	margin-bottom: 0px;
	margin-top: -30px;
	color: white;
	
}

.email {
	display: block;
	height: 8vh;
	margin-left: 60px;
	text-align: center;
	border-radius: 50px;
	margin-bottom: 20px;
}

.pass {
	display: block;
	height: 8vh;
	margin-left: 60px;
	text-align: center;
	border-radius: 50px;
	margin-bottom: 20px;
	
}

.login {
	display: block;
	height: 8vh;
	margin-left: 60px;
	text-align: center;
	width: 200px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: blue;
	color: white;
	
}



